<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/src/Views/style/style.css">

        <title>{{ title }}</title>
    </head>
    <body>
        {% include header %}
        <main class="main">
            {% include leftSidebar %}
            {% include content %}
        </main>
        {% include footer %}
    </body>
</html>