<main class="content">
    <form action="/user/save/" method="get">
        Имя<input type="text" name="name">
        День рождения<input type="date" name="birthday">
        <button type="submit">Добавить</button>
    </form>
    <hr>
    {{ message }}
</main>